@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr {
  display: block;
}

* {
  font-family: Outfit;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

::-webkit-scrollbar {
  display: none;
}

@media (max-width: 640px) {
  a.active {
    background-color: black;
    color: white;
  }
}
@media (max-width: 767px) {
  .phone {
    height: 15rem;
  }
}
@media (min-width: 767px) {
  .phone {
    height: 35rem;
  }
}
@media (max-width: 767px) {
  .mobile-view-height {
    height: 47% !important;
  }

  .chooosed-image-width{
    width: 8rem !important;
  }
}



@media (min-width: 767px) {
  .full-screen-width {
    height: 10vh; /* Full screen height */
    width: 8vh;
  }
}


